.item {
    border: 1px solid white;
    margin-bottom: 20px;
}

.image {
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
}

.info {
    padding: 10px 15px;


    p {
        margin-bottom: 20px;
    }

}